body {
    background: #f5f5f5;
}

.demo {
    padding: 1.5em;
    background: white;
    border-radius: 10px;
}

.commands {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 1em;
    margin-top: 1em;
}
.commands > * {
    padding: 0.5em;
    font-size: 1em;
}
.commands > button {
    border: none;
    background: #ffbb00cc;
    margin: 0;
    cursor: pointer;
}

.code-block {
    overflow: auto;
    max-height: 60em;
}

.steps {
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    grid-gap: 1em;
}

.entities {
    font-family: 'Courier New', Courier, monospace;
}
dl {
    display: grid;
    grid-template: auto / min-content 1fr;
    grid-gap: 0.25em 1em;
}

dd {
    margin: 0;
}
